* {
  margin: 0;
  padding: 0;
}

.body {
  height: 100vh;
}

h1 {
  text-shadow: 2px 2px #000000;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.dfont {
	font-family: 'dungeon', Sans-Serif;
}